body {
  background-color: rgb(21, 18, 43);  
}

h1 {
  color: navy;
  margin-left: 20px;
}

pre {
  align-items: relative;
  margin-top: 50px;
  border: 3px solid rgb(97, 88, 88);
}

p {
  text-align: left;
  font-size: 28px;
  margin-top: 3px;
  margin-bottom: 5px;

}

/* Content der Seite */
.mainContent {
  float: center;
  width: 100%;

}

/* Abicountdown Boxes  */
.cdc {
  align-self: center;
  margin-top: 1%;
  border: 3px solid rgb(97, 88, 88);
}



/* DropDown CheckBox */
.multiselect {
  width: 330px;
  position: relative;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  font-size: 20px;
}

#checkboxes input {
  font-size: 20px;
}

#checkboxes input:hover {
  font-size: 30px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
