body {
  background-color: lightblue;
  position: absolute;
  left: 15%;
  right: 15%;
  padding: 10px;

}

h1 {
  color: navy;
  margin-left: 20px;
}

p {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  left: 0%;
  right: 15%;
  padding: 10px;

}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
